@use "./variables" as var;
@use "./helpers" as help;

.btn {
  cursor: pointer;
  border-radius: var.$rad-l;
  transition: all 100ms ease-in-out;
  font-size: var.$font-s;
  font-weight: bold;
  @include help.gradient-light;
  @include help.define-colors(var.$clr-light, var.$clr-accent);
}

.btn__sound {
  width: 100%;
  padding: 0.2em 0.6em;
}

.btn__main {
  padding: 1em 3em;
  @include help.neon-glow-box-s();
}

.btn__main:hover {
  color: var.$clr-dark;
  @include help.neon-glow-box-l();
}
