@use "./variables" as var;

@mixin flex($direction: row, $justify: center, $align: center) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@mixin define-colors($background, $text) {
  background-color: $background;
  color: $text;
}

@mixin gradient-general() {
  background-image: linear-gradient(
    330deg,
    hsl(194deg 13% 20%) 0%,
    hsl(193deg 13% 20%) 10%,
    hsl(193deg 13% 21%) 18%,
    hsl(192deg 13% 22%) 25%,
    hsl(191deg 13% 22%) 32%,
    hsl(191deg 12% 23%) 39%,
    hsl(190deg 12% 23%) 46%,
    hsl(189deg 12% 24%) 53%,
    hsl(188deg 12% 24%) 60%,
    hsl(188deg 12% 25%) 66%,
    hsl(187deg 12% 26%) 73%,
    hsl(186deg 12% 26%) 80%,
    hsl(185deg 12% 27%) 86%,
    hsl(185deg 11% 27%) 93%,
    hsl(184deg 11% 28%) 100%
  );
}

@mixin gradient-light() {
  background-image: linear-gradient(
    0deg,
    hsl(35deg 14% 83%) 0%,
    hsl(32deg 15% 84%) 3%,
    hsl(29deg 15% 86%) 5%,
    hsl(27deg 16% 87%) 8%,
    hsl(24deg 17% 88%) 12%,
    hsl(22deg 17% 90%) 16%,
    hsl(19deg 18% 91%) 20%,
    hsl(17deg 18% 92%) 25%,
    hsl(14deg 18% 94%) 31%,
    hsl(12deg 19% 95%) 38%,
    hsl(9deg 19% 96%) 47%,
    hsl(6deg 20% 97%) 59%,
    hsl(3deg 22% 98%) 76%,
    hsl(0deg 33% 99%) 100%
  );
}

@mixin neon-glow-box-l() {
  box-shadow:
    0 0 30px var.$clr-accent,
    0 0 100px var.$clr-accent;
}

@mixin neon-glow-box-s() {
  box-shadow:
    0 0 5px var.$clr-accent,
    0 0 10px var.$clr-accent;
}

@mixin neon-glow-text() {
  text-shadow:
    0 0 15px var.$clr-accent,
    0 0 30px var.$clr-accent;
}

@function getGap($pixels) {
  @return calc($pixels + 1.5625vw);
}
