@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

//Theme colors
$clr-accent: hsl(293, 10%, 50%);
$clr-dark: hsl(270, 4%, 14%);
$clr-neutral-dark: hsl(257, 4%, 64%);
$clr-neutral-light: hsl(240, 3%, 85%);
$clr-light: hsl(0, 0%, 95%);

//Fonts
$font-stack: "Quicksand", "verdana", "sans-serif";
$font-xl: clamp(20px, 4vw, 86px);
$font-l: clamp(15px, 3vw, 66px);
$font-m: clamp(10px, 1.5vw, 46px);

//Border radius
$rad-l: 20px;
$rad-m: 15px;
$rad-s: 10px;
