@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

//Theme colors
$clr-accent: hsl(179, 22%, 61%);
$clr-dark: hsl(220, 9%, 15%);
$clr-neutral-dark: hsl(220, 11%, 23%);
$clr-light: hsl(0, 0%, 93%);

//Fonts
$font-stack: "Quicksand", "verdana", "sans-serif";
$font-xl: clamp(20px, 4vw, 86px);
$font-l: clamp(15px, 3vw, 66px);
$font-m: clamp(10px, 1.5vw, 46px);

//Border radius
$rad-l: 20px;
$rad-m: 15px;
$rad-s: 10px;
