@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

//Theme colors
$clr-accent: hsl(293, 10%, 50%);
$clr-dark: hsl(270, 7%, 24%);
$clr-neutral-dark: hsl(257, 4%, 64%);
$clr-neutral-light: hsl(240, 3%, 85%);
$clr-light: hsl(0, 0%, 95%);

//Fonts
$font-stack: "Quicksand", "verdana", "sans-serif";
$font-xl: clamp(20px, 0.4vw, 56px);
$font-l: clamp(40px, 6vw, 80px);
