@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

a {
  text-decoration: none;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}

button {
  border: none;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

.start-screen__logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: hsl(0, 0%, 93%);
  color: hsl(220, 9%, 15%);
  padding: 60px 80px;
  border-radius: 10px;
}
.start-screen__logo h1,
.start-screen__logo h3 {
  margin: 0;
}
.start-screen__logo h1 {
  font-size: clamp(20px, 4vw, 86px);
}

.btn {
  padding: 1em 3em;
  cursor: pointer;
  border-radius: 10px;
  transition: all 100ms ease-in-out;
  font-weight: bold;
}

.btn:hover {
  background-color: hsl(220, 11%, 23%);
  color: hsl(0, 0%, 93%);
  box-shadow: 0 0 30px hsl(179, 22%, 61%), 0 0 100px hsl(179, 22%, 61%);
}

.start-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(0deg, hsl(216, 18%, 16%) 63%, hsl(214, 18%, 18%) 77%, hsl(212, 19%, 20%) 84%, hsl(210, 19%, 22%) 89%, hsl(208, 20%, 24%) 92%, hsl(207, 20%, 26%) 94%, hsl(205, 21%, 28%) 96%, hsl(203, 21%, 30%) 97%, hsl(202, 21%, 32%) 98%, hsl(201, 21%, 34%) 99%, hsl(199, 22%, 36%) 99%, hsl(198, 22%, 38%) 100%, hsl(196, 22%, 40%) 100%, hsl(195, 22%, 42%) 100%, hsl(194, 22%, 43%) 101%, hsl(192, 22%, 45%) 101%, hsl(191, 21%, 47%) 101%, hsl(190, 21%, 49%) 101%, hsl(188, 22%, 51%) 101%, hsl(187, 23%, 53%) 100%, hsl(185, 24%, 55%) 100%, hsl(183, 26%, 57%) 100%);
  height: 100vh;
  gap: 80px;
}

.credits {
  color: hsl(0, 0%, 93%);
  position: absolute;
  bottom: 15px;
  text-justify: flex-end;
  font-size: clamp(10px, 1.5vw, 46px);
}
.credits a {
  color: hsl(179, 22%, 61%);
}
.credits a:hover {
  text-shadow: 0 0 30px hsl(179, 22%, 61%), 0 0 100px hsl(179, 22%, 61%);
}

.credits__giphy {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.credits__giphy div {
  align-self: flex-end;
  margin: 0 0 5px 5px;
  width: 6vw;
}

body {
  font-family: "Quicksand", "verdana", "sans-serif";
}

/*# sourceMappingURL=styles.css.map */
